{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Update Account{% endblock %}
{% block metatitle %}Update Account{% endblock %}
{% block metadescription %}Edit your account here{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Update Account</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">


                    <form method="POST" id="create-edit-form">
                        <div class="form-group">
                            {% include 'base/_messages.html' %}
                            {% csrf_token %}

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_password">Username</label>
                                {{ form.username|add_class:'form-control' }}
                            </div>


                            <div class="form-group form-group-default">
                                <label class="control-label" for="id_company">Company</label>
                                {{ form.company|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_timezone">Timezone</label>
                                {{ form.timezone }}
                            </div>

                            <div class="form-group form-group-default">
                                {% if user.is_paying %}
                                    Pro Plan => expires at
                                    {{ user.payment_attributes_for_render.payment_expires_at }}
                                {% else %}
                                    Basic Plan => <a href="{% url 'checkout_account' %}">Upgrade to Pro Plan</a>
                                {% endif %}
                            </div>

                            <div class="form-group form-group-default">
                                <label class="control-label" for="id_password"><a href="{% url 'account_email' %}">Change
                                    Email</a></label>
                            </div>

                            <div class="form-group form-group-default">
                                <label class="control-label" for="id_password">
                                    <a href="{% url 'account_change_password' %}">Change Password</a>
                                </label>
                            </div>

                            <div class="m-t-20">
                                <button class="btn btn-primary m-r-75" type="submit">Save</button>

                                <a href="{% url 'delete_account' %}" class="btn btn-danger text-light">Delete
                                    Account</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#create-edit-form').validate();
        });
    </script>
{% endblock %}


