{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Add Pro Plan{% endblock %}
{% block metatitle %}Add Pro Plan{% endblock %}
{% block metadescription %}Add your plan here and you have unlimited checks.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Buy Pro Plan</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <p>Click on the button for upgrading to Pro Plan. You will benefit from many features. </p>
                    <p>We <b>don't</b> charge you automatically after one year. You will receive an email reminding you
                        that a new payment is due.</p>
                    <p>Further information about Pro Plan <a href="/#price">See here</a></p>
                    <p>You'll redirected to Stripe Checkout Page.</p>
                    <p class="m-t-20">
                        <button
                                style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                                id="checkout-button" role="link">Buy PRO (25$/year)
                        </button>
                    </p>

                </div>
            </div>
        </section>

    </section>

    <div id="error-message"></div>

{% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3"></script>

    <script>
        $(document).ready(function () {
            var stripe = Stripe("{{ STRIPE_API_KEY }}");

            var checkoutButton = document.getElementById('checkout-button');
            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    items: [{sku: "{{ STRIPE_PLAN_PRO_SKU }}", quantity: 1}],

                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: 'https://' + "{{ request.get_host }}" + '/accounts/checkout/success',
                    cancelUrl: 'https://' + "{{ request.get_host }}" + '/accounts/checkout/canceled',
                    {% if user.email %}customerEmail: "{{ user.email }}",{% endif %}
                    billingAddressCollection: 'auto',
                    clientReferenceId: "{{ user.id }}"

                })
                    .then(function (result) {
                        if (result.error) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer.
                            var displayError = document.getElementById('error-message');
                            displayError.textContent = result.error.message;
                        }
                    });
            });
        });
    </script>
{% endblock %}