{% load static %}
{% load staticfiles %}

<!-- BEGIN FOOTER -->
<footer class="p-b-25 p-t-50 xs-p-b-20 bg-master-darker ">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 xs-m-b-40">
                <a href="{% url 'home' %}">
                    <div class="slogan-calling text-white">
                        <span id="first">site</span>
                        <span id="second">isrunning.com</span>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6 xs-m-b-20">
                <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">About</h6>
                <ul class="no-style">
                    <li class="m-b-5 no-padding"><a href="/#price" class="link text-white">Pricing</a></li>
                    <li class="m-b-5 no-padding"><a href="{% url 'contact' %}" class="link text-white">Contact</a></li>

                </ul>
            </div>
            <div class="col-sm-3 col-xs-6 xs-m-b-20">
                <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Others</h6>
                <ul class="no-style">
                    <li class="m-b-5 no-padding"><a href="{% url 'what' %}" class="link text-white">FAQ</a></li>
                    <li class="m-b-5 no-padding"><a href="{% url 'term_condition_privacy' %}" class="link text-white">Privacy/Terms/Condition</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="fs-12 hint-text p-t-10 text-white">Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            All Rights Reserved
        </p>
    </div>
</footer>
<!-- END FOOTER -->