{% load static %}
{% load staticfiles %}
<section class="clearfix messages-and-and-alerts">
    {% for message in messages %}
        <div class="col-md-8 col-md-offset-2 alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="
                    background: url({% static 'assets/icons/noti-cross.png' %}) no-repeat scroll 0 0 transparent">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    {% if form.non_field_errors or form.errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}

            {% if form.errors %}
                <ul class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>
                                {% if field != '__all__' %}
                                    <strong>{{ field.label }}:</strong>
                                {% endif %}
                                {{ error }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
</section>