{% load static %}
{% load staticfiles %}

{% if request.resolver_match.url_name == 'home' %}
    <nav class="header bg-header transparent-dark " data-pages="header"
         data-pages-header="autoresize" data-pages-resize-class="dark">
{% else %}
    <nav class="position-unset header bg-header minimized dark">
{% endif %}


{#<nav style="position: unset !important;" class="header bg-header transparent-dark " data-pages="header"#}
{#     data-pages-header="autoresize" data-pages-resize-class="dark">#}
<div class="container relative">
    <!-- BEGIN LEFT CONTENT -->
    <div class="pull-left">
        <!-- .header-inner Allows to vertically Align elements to the Center-->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a href="{% url 'home' %}">
                <div class="slogan-calling text-white">
                    <span id="first">site</span>
                    <span id="second">isrunning.com</span>
                </div>
            </a>
        </div>
    </div>
    <!-- BEGIN HEADER TOGGLE FOR MOBILE & TABLET -->
    <div class="pull-right">
        <div class="header-inner">
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right p-l-10"
                 data-pages="header-toggle" data-pages-element="#header">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <!-- END HEADER TOGGLE FOR MOBILE & TABLET -->
    <!-- BEGIN RIGHT CONTENT -->
    <div class="menu-content mobile-dark pull-right clearfix" data-pages-direction="slideRight" id="header">
        <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
        <div class="pull-right">
            <a href="#" class="padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-5"
               data-pages="header-toggle" data-pages-element="#header">
                <i class=" pg-close_line"></i>
            </a>
        </div>
        <!-- END HEADER CLOSE TOGGLE FOR MOBILE -->
        <!-- BEGIN MENU ITEMS -->
        <div class="header-inner">
            <ul class="menu">
                <li>
                    <a href="/" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Home</a>
                </li>

                <li>
                    <a href="/#price">Pricing</a>
                </li>

                <li>
                    <a href="{% url 'what' %}"
                       {% if request.resolver_match.url_name == 'what' %}class="active"{% endif %}>What</a>
                </li>

                <li class="hidden-sm hidden-xs">
                    <a href="">|</a>
                </li>

                <li class="hidden-md hidden-lg col-xs-offset-1">
                    <div>--------------------------------</div>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_check' %}"
                                {% if '/accounts/' in request.path or '/websites/' in request.path %}
                           class="active"{% endif %}>Account
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}"
                           {% if request.resolver_match.url_name == 'account_login' %}class="active"{% endif %}>Login</a>
                    </li>

                    <li>
                        <a href="{% url 'account_signup' %}"
                           {% if request.resolver_match.url_name == 'account_signup' %}class="active"{% endif %}>Sign
                            Up</a>
                    </li>
                {% endif %}
            </ul>
            <!-- FOR MOBILE -->
            <div class="font-arial m-l-35 m-r-35 m-b-20 visible-sm visible-xs m-t-20">
                <p class="fs-11 no-margin small-text p-b-20">You're in the right place here.</p>
            </div>
            <!-- END FOR MOBILE -->
        </div>
        <!-- END MENU ITEMS -->
    </div>
</div>
</nav>
