{% load staticfiles %}
{% load static %}

<section class="p-t-50 p-b-50 m-b-50 bg-master-darkest"
         style="background-image: url('{% static "assets/images/mountains-1246683.jpg" %}'); background-position: 80% 65% !important;">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="text-center">
                <h3 class="text-white col-sm-12">You're in good hands.</h3>
            </div>
        </div>
    </div>
</section>