{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not debug %}
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NCK9FJK');</script>
        <!-- End Google Tag Manager -->
    {% endif %}


    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">

    <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %} - siteisrunning.com</title>
    <meta content="{% spaceless %}{% block metadescription %}{% endblock %}{% endspaceless %}" name="description"/>
    <meta content="{% spaceless %}{% block metatitle %}{% endblock %}{% endspaceless %}" name="title">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {#    <link rel="apple-touch-icon" href="pages/ico/60.png">#}
    {#    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">#}
    {#    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">#}
    {#    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">#}
    {#    <link rel="icon" type="image/x-icon" href="favicon.ico"/>#}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="{% static 'assets/plugins/pace/pace-theme-flash.css' %} " rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet" type="text/css"/>
    <link href="{% static 'pages/css/custom.css' %} " rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
          type="text/css">

    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %} " rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/swiper/css/swiper.css' %} " rel="stylesheet" type="text/css" media="screen"/>

    <link class="main-stylesheet" href="{% static 'pages/css/pages.css' %} " rel="stylesheet" type="text/css"/>
    <link class="main-stylesheet" href="{% static 'pages/css/pages-icons.css' %} " rel="stylesheet" type="text/css"/>
</head>
<body class="pace-dark">

{% if not debug %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCK9FJK" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

{% block nav %}{% endblock %}

<div class="page-wrappers">

    {% block content %}
    {% endblock %}

</div>

{% block footer %}
    {% include 'base/_footer.html' %}
{% endblock %}


<script src="{% static 'assets/plugins/pace/pace.min.js' %} " type="text/javascript"></script>
<script type="text/javascript" src="{% static 'pages/js/pages.image.loader.js' %} "></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/swiper/js/swiper.jquery.min.js' %} "></script>
<script type="text/javascript" src="{% static 'assets/plugins/velocity/velocity.min.js' %} "></script>
<script type="text/javascript" src="{% static 'assets/plugins/velocity/velocity.ui.js' %} "></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-unveil/jquery.unveil.min.js' %} "></script>
<script type="text/javascript" src="{% static 'pages/js/pages.frontend.js' %} "></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/cookie-consent-bar-message/dist/jquery.cookieMessage.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %} "></script>

{% block scripts %}





{% endblock %}
<script>
    $(document).ready(function () {
        $.cookieMessage({

            'mainMessage': "This website uses cookies. By using this website you consent to our use of these cookies. " +
                "For more information visit our <a href='/terms-condition-privacy'>Privacy Policy</a>. ",
            'acceptButton': 'Got It!',
            expirationDays: 20,
            cookieName: 'cookieMessage',
            backgroundColor: '#1a1a1a',
            fontSize: '14px',
            fontColor: 'white',
            btnBackgroundColor: '#007bff',
            btnFontSize: '11px',
            btnFontColor: 'white',
            linkFontColor: '#3a8fc8'
        });
    });
</script>
</body>
</html>