{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Contact us{% endblock %}
{% block metatitle %}Contact us Form{% endblock %}
{% block metadescription %}Do you have a question, feature request or similar? Contact us{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Contact us!</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <p class="m-b-45">Do you have a question, feature request or similar? Contact us. We want feedback
                        :)</p>

                    <form method="POST" id="contact-form" novalidate>
                        <div class="form-group">

                            {% include 'base/_messages.html' %}

                            {% if form %}
                                {% csrf_token %}

                                <div class="form-group form-group-default required">
                                    <label class="control-label" for="id_from_email">Your email</label>
                                    {{ form.from_email|add_class:'form-control' }}
                                </div>

                                <div class="form-group form-group-default">
                                    <label class="control-label" for="id_subject">Your subject</label>
                                    {{ form.subject|add_class:'form-control' }}
                                </div>

                                <div class="form-group form-group-default required">
                                    <label class="control-label" for="id_message">Message</label>
                                    {{ form.message|add_class:'form-control height-150' }}
                                </div>

                                {{ form.captcha }}

                                <div class="m-t-20">
                                    <button class="btn btn-primary m-r-75" type="submit">Save</button>
                                </div>
                            {% endif %}

                        </div>
                    </form>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            {#$('#contact-form').validate();#}
        });
    </script>
{% endblock %}


