{% extends "base/base.html" %}
{% load staticfiles %}
{% load static %}
{% load mathfilters %}

{% block title %}Home{% endblock %}
{% block metatitle %}Home{% endblock %}
{% block metadescription %}Sitemonitoring for you. Save time, save money, be more professional. Check automatically if
    your Site or Server is down and get informed immediately. Configure in 2 minutes a new site monitoring. You have to
    enter the url and the sitemonitoring is active. No deploy, no upload. The world is enough complex, make the world
    easier.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}

    <!-- BEGIN JUMBOTRON -->
    <section class="jumbotron full-vh" data-pages="parallax">
        <div class="inner full-height">
            <!-- BEGIN SLIDER -->
            <div class="swiper-container" id="hero">
                <div class="swiper-wrapper">
                    <!-- BEGIN SLIDE -->
                    <div class="swiper-slide fit">
                        <!-- BEGIN IMAGE PARALLAX -->
                        <div class="slider-wrapper">
                            <div class="background-wrapper" data-swiper-parallax="30%">
                                <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
                                <div class="background"
                                     data-pages-bg-image="{% static 'assets/images/mountains-1246683.jpg' %}"></div>
                            </div>
                        </div>
                        <!-- END IMAGE PARALLAX -->
                        <!-- BEGIN CONTENT -->
                        <div class="content-layer">
                            <div class="inner full-height">
                                <div class="container-xs-height full-height">
                                    <div class="col-xs-height col-middle text-left">
                                        <div class="container">
                                            <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                                                <h1 class="light sm-text-center" data-swiper-parallax="-15%">
                                                    Website monitoring for you</h1>
                                                <h4 class="sm-text-center">Save time, save money, be more
                                                    professional.</h4>
                                                <h5 class="block-title text-white sm-text-center"><a
                                                        href="{% url 'what' %}">Behind the scenes
                                                    tour</a></h5>
                                                <p class="fs-12 font-arial hint-text sm-text-center">Check automatically
                                                    if your Site or Server is down and get informed via email.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END SLIDE -->
                </div>
                <!-- BEGIN ANIMATED MOUSE -->
                <div class="mouse-wrapper">
                    <div class="mouse">
                        <div class="mouse-scroll"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SLIDER -->
    </section>
    <!-- END JUMBOTRON -->

    <!-- BEGIN WHY/HOW/WHAT SECTION -->
    <section class="bg-master-lightest p-b-65 p-t-75">
        <div class="container p-b-25 m-b-25 home-enter-divider">
            <div class="p-l-15">
                <h5 class="block-title hint-text no-margin">Simple</h5>
                <div class="row p-l-5">
                    <div class="col-sm-5 col-md-4 p-l-5">
                        <h3 class="m-t-5">Two clicks away</h3>
                    </div>
                    <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
                        <div class=" p-l-35 md-p-l-5 md-p-t-15">
                            <p>Configure in 2 minutes a new site monitoring.<br/>You have to enter the url and
                                the sitemonitoring is active. No deploy, no upload.</p>
                            <p>The world is enough complex, make the world easier.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-b-25 m-b-25 home-enter-divider">
            <div class="p-l-15">
                <h5 class="block-title hint-text no-margin">Simple</h5>
                <div class="row p-l-5">
                    <div class="col-sm-5 col-md-4 p-l-5">
                        <h3 class="m-t-5">Forget the insignificant.</h3>
                    </div>
                    <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
                        <div class=" p-l-35 md-p-l-5 md-p-t-15">
                            <p>Don't get overwhelmed with unimportant features and functions. You need only an active
                                monitoring that inform you immediately when a site has a problem.</p>
                            <p>You will get the most simplest Site-/Servermonitoring of this universe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-b-25">
            <div class="p-l-15">
                <h5 class="block-title hint-text no-margin">Simple</h5>
                <div class="row p-l-5">
                    <div class="col-sm-5 col-md-4 p-l-5">
                        <h3 class="m-t-5">Be informed</h3>
                    </div>
                    <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
                        <div class="p-l-35 md-p-l-5 md-p-t-15">
                            <p>Are you caring about your customers?<br/>
                                You will be informed as soon as the website is down. You will be the active part when
                                the site is down, has SSL-Certificate problems or others.</p>
                            <p>It's called active customer care.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <!-- END CONTENT SECTION -->
    <!-- END WHY/HOW/WHAT SECTION -->

    <!-- BEGIN PRICING SECTION -->
    <section class="p-b-75">
        <div class="container">
            <h3 class="p-t-50 text-center" id="price">Pricing/Plans</h3>
            <div class="p-l-30 p-r-30 m-t-30">

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
                        <a href="{% url 'account_signup' %}">
                            <div class="pricing-heading m-t-45">
                                <div class="bg-menu p-t-60 p-b-60">
                                    <h1 class="text-center text-white m-b-25 font-montserrat">
                                        Free
                                    </h1>
                                    <p class="hint-text text-center text-white">
                                        Start your path
                                    </p>
                                </div>
                                <div class="bg-master-lighter p-t-20 p-b-20">
                                    <h5 class="block-title text-center no-margin">
                                        Basic Plan
                                    </h5>
                                </div>
                            </div>
                        </a>

                        <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                            <ul class="no-style">
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">{{ BASIC_PLAN_MAX_ACTIVE_CHECKS }}</span> active websites
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">All {{ BASIC_PLAN_MIN_PERIOD_CHECK_MINUTES|intdiv:60 }} h </span>
                                    smallest interval website check <br/> (customizable)
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">All {{ BASIC_PLAN_MIN_WHEN_OFFLINE_SEND_NEXT_MINUTES|intdiv:60 }} h</span>
                                    smallest reminder interval <br/> (customizable)
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Max. {{ BASIC_PLAN_MAX_EMAIL_ADDRESSES }}</span> email
                                    addresses
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Limited</span> Customer Support
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Free</span>
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <div class="text-center">
                                        <a href="{% url 'account_signup' %}" class="btn btn-danger">Signup</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg hidden-xlg m-t-35 m-b-35 home-enter-divider">&nbsp;
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">

                        <a href="{% url 'account_signup' %}">
                            <div class="pricing-heading m-t-45">
                                <div class="bg-menu p-t-60 p-b-60">

                                    <h1 class="text-center text-white m-b-25 font-montserrat">
                                        25$/year
                                    </h1>
                                    <p class="hint-text text-white text-center">
                                        You don't need more
                                    </p>

                                </div>
                                <div class="bg-master-lighter p-t-20 p-b-20">
                                    <h5 class="block-title text-center no-margin">
                                        Pro Plan
                                    </h5>
                                </div>
                            </div>
                        </a>

                        <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                            <ul class="no-style">
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Unlimited</span> active websites
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">All 5 min. </span>
                                    smallest interval website check <br/> (customizable)
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">All 5 min.</span>
                                    smallest reminder interval <br/> (customizable)
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Unlimited</span> email addresses
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <span class="bold">Full</span> Customer Support
                                </li>
                                <li class="text-nowrap text-black fs-16 normal m-b-25">
                                    <span class="bold">No</span> auto charging after one year
                                </li>
                                <li class="text-black fs-16 normal m-b-25">
                                    <div class="text-center">
                                        <a href="{% url 'account_signup' %}" class="btn btn-danger">Signup</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PRICING SECTION -->

    <!-- BEGIN QUICK_LINK SECTION -->
    <!-- <section class=" bg-master-lightest p-t-65 p-b-65">
           <div class="container">
               <h3 class="text-center" id="pricing">Some of many possibilities</h3>

               <div class="m-t-30 md-p-l-20 xs-no-padding clearfix">
                   <div class="col-sm-4 no-padding">
                       <div class="p-r-40 md-pr-30">
                           <h6 class="block-title p-b-5">Launch Design <i class="pg-arrow_right m-l-10"></i></h6>
                           <p class="m-b-30">Awesome notepad app. It gives you a quick and simple notepad editing
                               experience when you write notes.</p>
                           <p class="muted font-arial small-text col-sm-9 no-padding">Icon Fonts, Vector SVG's, pages
                               14x14px vector icons.</p>
                       </div>
                       <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
                   </div>
                   <div class="col-sm-4 no-padding">
                       <div class="p-r-40 md-pr-30">
                           <h6 class="block-title p-b-5">Award Wining <i class="pg-arrow_right m-l-10"></i></h6>
                           <p class="m-b-30">Quick chat helps you to Keep in touch with your friends and colleagues while
                               working. It has a unique responsive design.</p>
                           <p class="muted font-arial small-text col-sm-9 no-padding">Limitless possibilities, Highly
                               customizable, Great UI & UX</p>
                       </div>
                       <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
                   </div>
                   <div class="col-sm-4 no-padding">
                       <div class="p-r-40 md-pr-30">
                           <h6 class="block-title p-b-5">Shop ready <i class="pg-arrow_right m-l-10"></i></h6>
                           <p class="m-b-30">This is a very young collection of charts, with the goal of keeping these
                               components very customizable.</p>
                           <p class="muted font-arial small-text col-sm-9 no-padding">Highly customizable NVD3, rickshaw,
                               Spark Lines, D3.</p>
                       </div>
                   </div>
               </div>
           </div>
       </section>  -->

    <!-- END QUICK_LINK SECTION -->

    <!-- BEGIN QUOTE SECTION -->
    <section class="bg-master-lightest p-b-85 p-t-75 ">
        <!-- BEGIN TESTIMONIALS SLIDER-->
        <div class="swiper-container" id="testimonials_slider">
            <div class="swiper-wrapper">
                <!-- BEGIN TESTIMONIAL -->
                <div class="bg-master-lightest swiper-slide">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="text-center">
                                Our motivation "simplified" helps to craft meaningful experiences for the
                                people around us. We believe software should make life not more complicated, but
                                simpler.
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
                <!-- BEGIN TESTIMONIAL -->
                <div class="bg-master-lightest swiper-slide">
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h3 class="text-center">
                                We building tools not only for developers. We build software of everyone who believes he
                                can make the world better.
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-pagination relative p-t-20"></div>
        </div>
        <!-- END TESTIMONIALS -->
    </section>
    <!-- END QUOTE SECTION -->



{% endblock %}
