{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Terms / Conditions / Privacy{% endblock %}
{% block metatitle %}Terms / Conditions / Privacy{% endblock %}
{% block metadescription %}Terms / Conditions / Privacy{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {# {% include "account/_tabs.html" %}#}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Terms / Conditions / Privacy</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <p>At siteisrunning.com, accessible from siteisrunning.com, one of our main priorities is the
                        privacy of our visitors. This Privacy Policy document contains types of information that is
                        collected and recorded by siteisrunning.com and how we use it.</p>

                    <p>If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us through email at admin@siteisrunning.com</p>

                    <h2>Log Files</h2>

                    <p>siteisrunning.com follows a standard procedure of using log files. These files log visitors when
                        they visit websites. All hosting companies do this and a part of hosting services' analytics.
                        The information collected by log files include internet protocol (IP) addresses, browser type,
                        Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the
                        number of clicks. These are not linked to any information that is personally identifiable. The
                        purpose of the information is for analyzing trends, administering the site, tracking users'
                        movement on the website, and gathering demographic information.</p>

                    <h2>Cookies and Web Beacons</h2>

                    <p>Like any other website, siteisrunning.com uses 'cookies'. These cookies are used to store
                        information including visitors' preferences, and the pages on the website that the visitor
                        accessed or visited. The information is used to optimize the users' experience by customizing
                        our web page content based on visitors' browser type and/or other information.</p>

                    <h2>Google DoubleClick DART Cookie</h2>

                    <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies,
                        to serve ads to our site visitors based upon their visit to www.siteisrunning.com and other
                        sites on
                        the internet. However, visitors may choose to decline the use of DART cookies by visiting the
                        Google ad and content network Privacy Policy at the following URL – <a
                                href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                    </p>

                    <h2>Our Advertising Partners</h2>

                    <p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are
                        listed below. Each of our advertising partners has their own Privacy Policy for their policies
                        on user data. For easier access, we hyperlinked to their Privacy Policies below.</p>

                    <ul>
                        <li>
                            <p>Google</p>
                            <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                            </p>
                        </li>
                    </ul>

                    <h2>Privacy Policies</h2>

                    <P>You may consult this list to find the Privacy Policy for each of the advertising partners of
                        siteisrunning.com. Our Privacy Policy was created with the help of the <a
                                href="https://www.privacypolicygenerator.info">Privacy Policy Generator</a>.</p>

                    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons
                        that are used in their respective advertisements and links that appear on siteisrunning.com,
                        which are sent directly to users' browser. They automatically receive your IP address when this
                        occurs. These technologies are used to measure the effectiveness of their advertising campaigns
                        and/or to personalize the advertising content that you see on websites that you visit.</p>

                    <p>Note that siteisrunning.com has no access to or control over these cookies that are used by
                        third-party advertisers.</p>

                    <h2>Third Party Privacy Policies</h2>

                    <p>siteisrunning.com's Privacy Policy does not apply to other advertisers or websites. Thus, we are
                        advising you to consult the respective Privacy Policies of these third-party ad servers for more
                        detailed information. It may include their practices and instructions about how to opt-out of
                        certain options. You may find a complete list of these Privacy Policies and their links here:
                        Privacy Policy Links.</p>

                    <p>You can choose to disable cookies through your individual browser options. To know more detailed
                        information about cookie management with specific web browsers, it can be found at the browsers'
                        respective websites. What Are Cookies?</p>

                    <h2>Children's Information</h2>

                    <p>Another part of our priority is adding protection for children while using the internet. We
                        encourage parents and guardians to observe, participate in, and/or monitor and guide their
                        online activity.</p>

                    <p>siteisrunning.com does not knowingly collect any Personal Identifiable Information from children
                        under the age of 13. If you think that your child provided this kind of information on our
                        website, we strongly encourage you to contact us immediately and we will do our best efforts to
                        promptly remove such information from our records.</p>

                    <h2>Online Privacy Policy Only</h2>

                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our
                        website with regards to the information that they shared and/or collect in siteisrunning.com.
                        This policy is not applicable to any information collected offline or via channels other than
                        this website.</p>

                    <h2>Consent</h2>

                    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and
                        Conditions.</p>

                    <h1>Privacy Policy for siteisrunning.com</h1>

                    <p>At siteisrunning.com, accessible from siteisrunning.com, one of our main priorities is the
                        privacy of our visitors. This Privacy Policy document contains types of information that is
                        collected and recorded by siteisrunning.com and how we use it.</p>

                    <p>If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us through email at admin@siteisrunning.com</p>

                    <h2>Log Files</h2>

                    <p>siteisrunning.com follows a standard procedure of using log files. These files log visitors when
                        they visit websites. All hosting companies do this and a part of hosting services' analytics.
                        The information collected by log files include internet protocol (IP) addresses, browser type,
                        Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the
                        number of clicks. These are not linked to any information that is personally identifiable. The
                        purpose of the information is for analyzing trends, administering the site, tracking users'
                        movement on the website, and gathering demographic information.</p>

                    <h2>Cookies and Web Beacons</h2>

                    <p>Like any other website, siteisrunning.com uses 'cookies'. These cookies are used to store
                        information including visitors' preferences, and the pages on the website that the visitor
                        accessed or visited. The information is used to optimize the users' experience by customizing
                        our web page content based on visitors' browser type and/or other information.</p>

                    <h2>Google DoubleClick DART Cookie</h2>

                    <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies,
                        to serve ads to our site visitors based upon their visit to www.siteisrunning.com and other
                        sites on
                        the internet. However, visitors may choose to decline the use of DART cookies by visiting the
                        Google ad and content network Privacy Policy at the following URL – <a
                                href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                    </p>

                    <h2>Our Advertising Partners</h2>

                    <p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners are
                        listed below. Each of our advertising partners has their own Privacy Policy for their policies
                        on user data. For easier access, we hyperlinked to their Privacy Policies below.</p>

                    <ul>
                        <li>
                            <p>Google</p>
                            <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                            </p>
                        </li>
                    </ul>

                    <h2>Privacy Policies</h2>

                    <P>You may consult this list to find the Privacy Policy for each of the advertising partners of
                        siteisrunning.com. Our Privacy Policy was created with the help of the <a
                                href="https://www.privacypolicygenerator.info">Privacy Policy Generator</a>.</p>

                    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons
                        that are used in their respective advertisements and links that appear on siteisrunning.com,
                        which are sent directly to users' browser. They automatically receive your IP address when this
                        occurs. These technologies are used to measure the effectiveness of their advertising campaigns
                        and/or to personalize the advertising content that you see on websites that you visit.</p>

                    <p>Note that siteisrunning.com has no access to or control over these cookies that are used by
                        third-party advertisers.</p>

                    <h2>Third Party Privacy Policies</h2>

                    <p>siteisrunning.com's Privacy Policy does not apply to other advertisers or websites. Thus, we are
                        advising you to consult the respective Privacy Policies of these third-party ad servers for more
                        detailed information. It may include their practices and instructions about how to opt-out of
                        certain options. You may find a complete list of these Privacy Policies and their links here:
                        Privacy Policy Links.</p>

                    <p>You can choose to disable cookies through your individual browser options. To know more detailed
                        information about cookie management with specific web browsers, it can be found at the browsers'
                        respective websites. What Are Cookies?</p>

                    <h2>Children's Information</h2>

                    <p>Another part of our priority is adding protection for children while using the internet. We
                        encourage parents and guardians to observe, participate in, and/or monitor and guide their
                        online activity.</p>

                    <p>siteisrunning.com does not knowingly collect any Personal Identifiable Information from children
                        under the age of 13. If you think that your child provided this kind of information on our
                        website, we strongly encourage you to contact us immediately and we will do our best efforts to
                        promptly remove such information from our records.</p>

                    <h2>Online Privacy Policy Only</h2>

                    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our
                        website with regards to the information that they shared and/or collect in siteisrunning.com.
                        This policy is not applicable to any information collected offline or via channels other than
                        this website.</p>

                    <h2>Consent</h2>

                    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and
                        Conditions.</p>

                    <p class="m-t-50">1. General
                        These Terms and Conditions ("Agreement") governs the use of the services ("Service") that are
                        made available by siteisrunning.com Solutions Inc. ("siteisrunning.com", "we" or "us"). These
                        Terms and
                        Conditions represent the whole agreement and understanding between siteisrunning.com and the
                        individual or entity who subscribes to our service ("Subscriber" or "you").

                        PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the
                        Service, you agree to comply with all of the terms and conditions set out in this Agreement.
                        siteisrunning.com may terminate your account at any time, with or without notice, for conduct
                        that is
                        in breach of this Agreement, for conduct that siteisrunning.com believes is harmful to its
                        business,
                        or for conduct where the use of the Service is harmful to any other party.

                        siteisrunning.com may, in its sole discretion, change or modify this Agreement at any time, with
                        or
                        without notice. Such changes or modifications shall be made effective for all Subscribers upon
                        posting of the modified Agreement to this web address (URL):
                        http://www.siteisrunning.comm/terms-and-conditions/. You are responsible to read this document
                        from
                        time to time to ensure that your use of the Service remains in compliance with this Agreement.

                        2. Services
                        siteisrunning.com offers Subscribers domain name registration, website hosting, and email
                        hosting
                        services for the duration of the service term purchased from siteisrunning.com.

                        Services are provided on the basis of facility and equipment availability. siteisrunning.com
                        reserves
                        the right to modify, change, or discontinue any aspect of the Services at any time.

                        Access to the web and email servers is terminated upon expiry of the Service.

                        Details regarding your account can be found in your account control panel
                        (https://www.siteisrunning.com.com/sign-in/)

                        3. Web Hosting
                        All siteisrunning.com web hosting accounts will display a "Coming Soon" web page by default when
                        activated. This page informs visitors that the Subscriber has recently setup their account with
                        siteisrunning.com. The "Coming Soon" default index web page may be removed by the Subscriber at
                        any
                        time once they have access to the web server. The "Coming Soon" web page may include, but
                        without limitation to, the following:

                        Links to additional products and services offered by siteisrunning.com.
                        Advertisements for products and services offered by third-parties.
                        An internet search engine interface.
                        All web page error requests (such as 403 errors or 404 errors) will direct traffic to a default
                        siteisrunning.com error page. This error page informs visitors that the web page they are
                        looking for
                        cannot be found, and may include, but without limitation to, the following:

                        Links to additional products and services offered by siteisrunning.com.
                        Advertisements for products and services offered by third-parties.
                        An internet search engine interface.
                        At its sole discretion, siteisrunning.com may place advertisements or other commercial content
                        on your
                        website, emails or anywhere it deems fit.

                        Depending on which hosting plan you choose, you may request to change the billing term of your
                        hosting service through your account control panel. In such cases, the expiry date of your
                        hosting service will be adjusted according to the billing term that you have requested. Any
                        optional features for your hosting plan will be billed according to the term that you have
                        requested.

                        If your hosting plan includes a free domain name, you will be required to pay a fee to reimburse
                        siteisrunning.com for the domain name registration upon changing to another hosting plan or a
                        billing
                        term that does not include a free domain name. The amount of this fee will vary depending on the
                        domain extension and on the registration term.

                        All siteisrunning.com web hosting services, including service trials and promotional hosting
                        offers,
                        and their billing terms may be prorated and adjusted to expire on the last day of a month.

                        All service trials and promotion offers are considered to be delivered in full upon the
                        completion of the service term stated on the trial or offer invoice found in your account
                        control panel. siteisrunning.com is not obligated to provide reimbursement for any proration or
                        service term adjustment on service trials or promotional offers.

                        Promotional offers, including special introductory rates, promotional rates, or any non-regular
                        pricing, are only available to new customers and are only valid for the initial term. All
                        hosting services will renew at the regular renewal rate.

                        In the absence of a cancellation request from you, your hosting service will be renewed for a
                        successive term, at the regular renewal rate, on the 16th of the expiry month.

                        4. Website Builder
                        siteisrunning.com provides Subscribers with a non-exclusive, non-transferable, limited license
                        to use
                        the Website Builder. The Website Builder is developed and owned by siteisrunning.com, and any
                        reproduction, modification, creation of derivative works from or redistribution of the Website
                        Builder is expressly prohibited. The Website Builder, its structure, sequence, organization and
                        source code are considered trade secrets of siteisrunning.com and are protected by trade secret
                        laws.

                        siteisrunning.com does not claim ownership and is not responsible for any of the information,
                        code,
                        data, text, software, music, sounds, photographs, pictures, graphics, videos, messages, files or
                        other materials ("User Content") submitted using the Website Builder. Subscriber is entirely
                        responsible for all User Content uploaded, posted, emailed or otherwise transmitted via the
                        Website Builder.

                        You further acknowledge and agree that all User Content is non-transferable and
                        non-transportable. siteisrunning.com will not assist any Subscribers with any reproduction,
                        recovery,
                        or distribution of any User Content. Upon service cancellation or termination for any reason,
                        access to the Website Builder, including all User Content, third party content, and user
                        information uploaded, posted, emailed, or otherwise transmitted via the Website Builder, will be
                        removed by siteisrunning.com.

                        siteisrunning.com makes no representations or warranties, either expressed or implied, with
                        respect to
                        the images offered through the Website Builder (the "Images").

                        In the event of a dispute regarding any Image obtained via the Website Builder, you hereby
                        release siteisrunning.com, its officers, directors, owners, agents, and employees from claims,
                        demands, and damages, actual and consequential, of every kind and nature, known and unknown,
                        suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with
                        such disputes. siteisrunning.com is not a party to, and shall not be involved in or responsible
                        for,
                        transactions, agreements, and/or disputes between you and any third party.

                        You may only use the Images on your website, while the website maintains an active service
                        subscription with siteisrunning.com.

                        5. Email
                        siteisrunning.com's email service provides customers with the capability to send and receive
                        email via
                        the Internet. siteisrunning.com retains the right, at our sole discretion, to restrict the
                        volume of
                        messages transmitted or received by you in order to maintain the quality of our email services
                        to other Subscribers and to protect our computer systems.

                        As an owner and operator of the equipment and other resources utilized to provide services,
                        siteisrunning.com has the legal right to block electronic communications from other entities on
                        the
                        Internet.

                        siteisrunning.com relies on the support of its sponsors and advertisers to help offset the cost
                        of the
                        Services offered to its Subscribers. You acknowledge that as part of your siteisrunning.com
                        Service,
                        advertisement sponsored email newsletters may be sent to Subscribers and siteisrunning.com email
                        service email accounts.

                        6. Definition of Unlimited Usage
                        What "Unlimited" means: siteisrunning.com does not set an arbitrary limit on the amount of
                        resources
                        an account can use.

                        What "Unlimited" DOES NOT mean: The accounts are not intended to support the greater web hosting
                        needs of large enterprises or to be used as an online storage warehouse to store backups,
                        archiving of electronic files or emails, documents, log files, etc. or to be used as a media
                        file streaming/sharing hub.

                        Reselling any of the Service's resources is strictly prohibited. Any accounts found to be
                        reselling resources will immediately be suspended, with or without notice. Reselling of account
                        resources is only permitted if you are using a Reseller Hosting Plan, a Virtual Private Server
                        (VPS) or a Dedicated Server.

                        siteisrunning.com's "Unlimited" services are provisioned in a shared hosting environment. Any
                        account
                        found to be adversely affecting the performance of other Subscriber accounts by excessively
                        using network bandwidth, server storage, memory or CPU resources, will be flagged by
                        siteisrunning.com
                        administrators and anti-abuse controls. These Subscribers will then be asked to consider Virtual
                        Private Server (VPS) or Dedicated Server services. Serious offenses will result in the account
                        service suspension or termination, with or without notice.

                        7. Domain Name Registration
                        siteisrunning.com offers domain name registration and renewal services in partnership with ICANN
                        accredited registrars In2net Network Inc, Tucows, and Network Solutions. siteisrunning.com
                        processes
                        registration and renewal services through these respective registrars at its discretion.

                        You acknowledge and agree that you may not transfer the domain name registration to another
                        domain name registrar during the first 60 days of the initial registration, or within 60 days of
                        any successful transfer or renewal of the registration. siteisrunning.com is authorized to deny
                        any
                        such transfer requests.

                        You acknowledge and agree that siteisrunning.com may, but is not obligated to, place your domain
                        name
                        in a Domain Lock status to prevent unauthorized transfers of your domain name.

                        Domain names which have opted in to the Automatic Domain Renewal service, and any optional
                        features associated with them, will be automatically renewed for the minimum term available for
                        that domain type at the regular renewal rate 6 days prior to expiry. You will be solely
                        responsible for all renewal costs and for any other costs in doing so. Subscribers may choose to
                        opt in or out of the Automatic Domain Renewal service via your account control panel.

                        Promotional offers, including special introductory rates, promotional rates, or any non-regular
                        pricing, are only available to new customers and are only valid for the initial term. All domain
                        names registrations will renew at the regular renewal rate.

                        Subscribers who have purchased their domain name registration at a promotional price are subject
                        to a Domain Transfer Fee when they transfer their registration to another domain name registrar
                        during the purchased registration term.

                        Subscribers who wish to transfer their domain name registration to another domain name registrar
                        while the registration is expired are also subject to a Domain Transfer Fee.

                        The Domain Transfer Fee is based on the domain type and is subject to any applicable taxes.

                        General Domain Transfer Fee (.com, .net, .org, .biz, .info, .mobi, .us, .eu, .me) US$20.00
                        Special Domain Transfer Fee (.co, .uk, .tv) US$35.00

                        In additional to this Agreement, new domain registration accounts are also subject to the Domain
                        Registration Agreements of the respective governing registries.

                        8. Service Fees / Payments / Invoices
                        All siteisrunning.com fees and charges are quoted and billed in US Dollars unless otherwise
                        noted.

                        Members have the option to pay services fees in Canadian Dollars or US Dollars. If Canadian
                        Dollars is selected as the billing currency, Members will be charged the Canadian Dollar
                        equivalent of the US Dollar total. The exchange rate used ("Exchange Rate") is subject to change
                        from time to time and can always be found on the siteisrunning.com website at:
                        http://www.siteisrunning.com/

                        siteisrunning.com uses an automated payment processing system and only accepts credit card or
                        PayPal
                        payments at this time. All Subscribers are required to maintain valid payment information on
                        file for the processing of any applicable service fees. At its sole discretion,
                        siteisrunning.com may
                        use credit card issuer-approved services, such as VISA Account Updater and MasterCard Automatic
                        Billing Updater, to acquire updated payment information for the purpose of processing
                        outstanding payments that are on your account.

                        siteisrunning.com may take any reasonable action to validate your payment and registration
                        information, and collect all payments due. You agree to pay all attorney and collection fees
                        arising from any efforts to collect any past due amounts from you, to the extent allowed by law.

                        Service fees are due at the time of order or on the day of renewal. All fees must be paid in
                        full.

                        Invoices for all siteisrunning.com services can be found by logging into your account control
                        panel.

                        Billing inquiries and disputes should be brought to siteisrunning.com's attention within 30 days
                        of
                        the invoice date. Failure to do so will be deemed to be an admission that the invoice and
                        charges are accurate.

                        If any chargeback or charge dispute notices are received for your account, services provided to
                        you may be immediately suspended pending investigation, and you will be subject to chargeback
                        service charges. Where applicable, siteisrunning.com reserves the right to put your domain name
                        into
                        "Registrar Hold" status and deny any transfer requests for that domain name until the chargeback
                        or dispute issue has been resolved.

                        Accounts will be suspended if its service renewal fees are not paid within 72 hours of the due
                        date. Accounts suspended in this manner can be re-activated upon payment of the Account
                        Reactivation Fee (see below).

                        Any applications or requests for services will be declined if payment cannot be successfully
                        processed within 72 hours of the order.

                        siteisrunning.com reserves the right to modify service fees and rates, effective upon posting on
                        the
                        siteisrunning.com website or on this Agreement. Current service charges include the following
                        (non-exclusive list):

                        Account Reactivation Fee US$15.00
                        Chargeback Service Charge US$25.00
                        Reactivation Fee (TOS Violation) US$25.00
                        Refund Processing Fee US$15.00
                        9. Definition of "No Transaction Fees"
                        siteisrunning.com does not charge you any fees relating to the processing of transactions under
                        your
                        account ("Transaction Fees"). However, your selected payment processor, such as PayPal or
                        Stripe, may still charge you Transaction Fees for each payment you receive. You will be solely
                        responsible for any such Transaction Fees.

                        10. Termination / Plan Change / Refund Policy
                        siteisrunning.com may terminate your Service under the following circumstances (non-exclusive
                        list):

                        Non-payment of fees
                        You are in breach of any term or condition of this Agreement
                        Your use of the Service disrupts siteisrunning.com business operations or affects any other
                        party
                        All Subscriber data is removed from siteisrunning.com servers for such terminations.

                        You may request account termination or hosting plan changes at any time by contacting our
                        Customer Service team either through phone or case ticket. Our contact information can be found
                        on the Support page of our website: http://www.siteisrunning.com/contact

                        When submitting your cancellation request, you must provide the correct username and password
                        for your account for verification. Incomplete cancellation requests will be deemed invalid and
                        will not be processed. You will be responsible for any service fees that arise from your failure
                        to cancel your account.

                        Refunds will not be given for services that are billed monthly or for one-time service fees,
                        such as web design fees, file recovery fees, domain redemption fees, etc. You are eligible for a
                        refund on hosting services that are not billed monthly under the following circumstances:

                        If you cancel your account within 30 days of sign-up, you will, upon request, receive a full
                        refund on the hosting fees paid, less any setup fees or one-time service fees.
                        If you cancel your account within 45 days of a hosting service renewal, you will, upon request,
                        receive a full refund on the hosting fees paid on your most recent renewal. You will be subject
                        to a US$15.00 Refund Processing Fee for this refund.
                        If you cancel your account within 14 days of a hosting plan change, you will, upon request,
                        receive a full refund on the hosting fees paid on your most recent hosting plan change, less any
                        setup fees or one-time service fees. You will be subject to a US$15.00 Refund Processing Fee for
                        this refund.
                        If your hosting plan includes a free domain name, you may be required to pay an additional
                        US$15.00 Domain Reimbursement Fee to reimburse siteisrunning.com for the domain name
                        registration when
                        you do any of the following:

                        You cancel your subscription to the hosting plan.
                        Your subscription to the hosting plan ends.
                        You make changes to your DNS settings.
                        You transfer the domain name to another domain registrar.
                        Only one refund may be issued for each invoice. siteisrunning.com reserves the right to grant or
                        deny
                        any refund requests.

                        Domain name registrations, regardless if it is an initial registration or a renewal of an
                        existing registration, cannot be cancelled and will remain in effect until the end of the
                        registration term.

                        11. Subscriber Responsibility
                        When you apply to use siteisrunning.com services, you will be asked to select a Subscriber ID
                        and
                        Password. The Subscriber ID and Password are the means through which you access certain
                        services. You acknowledge and agree that it is your responsibility to safeguard the Subscriber
                        ID and Password you select from any unauthorized use. IN NO EVENT WILL siteisrunning.com BE
                        LIABLE FOR
                        THE UNAUTHORIZED USE OR MISUSE OF YOUR SUBSCRIBER ID OR PASSWORD.

                        Subscribers are responsible for maintaining accurate account information at all times, including
                        credit card and contact information. This information can be updated in your account control
                        panel.

                        12. Prohibited Conduct
                        siteisrunning.com does not allow the use of unsolicited commercial email ("Spam") to promote
                        products
                        or services. Any Subscriber engaging in the sending of Spam through the siteisrunning.com
                        network or
                        promoting information on websites hosted by siteisrunning.com will be considered in breach of
                        this
                        Agreement and will be suspended from the Service immediately.

                        Your use of the Service must be in compliance with Canadian and US laws, and the laws of your
                        country at all times.

                        You are responsible for ensuring that your use of the Service does not consume excessive system
                        or network resources that disrupts the normal use of the Service through, but not limited to,
                        spawning multiple processes, or consuming excessive amounts of memory, CPU or bandwidth
                        capacity.

                        The following is a non-exclusive list of content, and behavior prohibited by the Service:

                        Content that contains or contains links to: nudity, pornography, adult content, materials with
                        sex or foul language.
                        Content that condones, promotes, contains, or links to warez, cracks, hacks, their associated
                        utilities, or other piracy related information, whether for educational purposes or not.
                        Content that has been promoted through the sending of Spam or mail fraud schemes, or pages that
                        promote or condone the sending of Spam. The sending of bulk email originating from our servers
                        mass distributed to unknown recipients soliciting products or services, or of bulk email NOT
                        originating from our servers mass distributed to unknown recipients soliciting products or
                        services relating to a siteisrunning.com account will result in immediate account suspension.
                        Content that is grossly offensive to the community, including blatant expressions for bigotry,
                        prejudice, racism, hatred or excessive profanity, or to post any obscene, filthy, excessively
                        violent, harassing, or otherwise objectable material.
                        Content or otherwise that exploits children under 18 years of age.
                        Content that sells or promotes any products or services that are unlawful in the location at
                        which the content is posted or received.
                        Content that infringes or violates any copyright, patent, trademark, service mark, trade name,
                        trade secret, or other intellectual property right of any third party.
                        Content that promotes mail fraud, multi-level marketing (pyramid) schemes or other illegal or
                        fraudulent activities.
                        Content that posts or discloses any personally identifying information or private information
                        about any third parties without their express consent.
                        Reverse engineering, reverse compiling or otherwise deriving the underlying source code or
                        structure or sequence of any siteisrunning.com service, solution or technology.
                        Reverse engineering, reverse compiling or otherwise deriving the underlying source code or
                        structure or sequence of individual passwording of Subscriber Sites (or pages contained
                        therein).
                        13. Notices
                        You agree that, unless other instructions are posted on siteisrunning.com's website, any notices
                        required to be given under this Agreement will be deemed to have been given if delivered by
                        email or fax, or sent by registered mail or by courier to each of the parties in accordance with
                        the most current contact information you have provided to us, and the contact information for
                        siteisrunning.com posted on the siteisrunning.com website. All notices shall be effective upon
                        receipt,
                        except that email and fax notices shall be effective upon transmission.

                        14. Privacy
                        The siteisrunning.com Privacy Policy sets out our obligations with respect to the safeguarding,
                        collection and use of Subscribers' personal information. The siteisrunning.com Privacy Policy is
                        subject to modification from time to time, and such changes are effective upon posting of the
                        modified policy to this URL: http://www.siteisrunning.com/terms-condition-privacy

                        Email newsletters will only be sent directly by siteisrunning.com. Subscriber information will
                        not be
                        disclosed or sold to any third parties. You may also be contacted by siteisrunning.com's
                        designated
                        customer review software provider for customer experience and service feedback.

                        15. Reservation of Rights
                        siteisrunning.com reserves the right and sole discretion to:

                        Censor any website hosted on its servers that is deemed inappropriate.
                        Review any account for excessive space or bandwidth utilization and to suspend service to those
                        accounts that have exceeded allowed levels.
                        Terminate any account for non-payment of fees, for providing fraudulent account information or
                        fraudulent payment information.
                        Terminate any account if the contents of its website results in, or are the subject of, legal
                        action or threatened legal action against siteisrunning.com or any of its affiliates or
                        partners,
                        without consideration for whether such legal action or threatened legal action is eventually
                        determined to be with or without merit.
                        Terminate any account for unsolicited, commercial e-mailing (i.e., Spam), illegal access to
                        other computers or networks (i.e., hacking), distribution of Internet viruses or similar
                        distructive activities, activities whether lawful or unlawful that siteisrunning.com determines
                        to be
                        harmful to its other customers, operations or reputation, or for any breach of this agreement.
                        Suspend the Service at any time for any duration of time when necessary, without penalty or
                        liability to ourselves.
                        You agree that it may be necessary for us to temporarily suspend the Service for technical
                        reasons or to maintain network equipment or facilities.

                        16. Limitation of Liability
                        The Service is provided on an "as is" and "as available" basis and the use of the Service is at
                        your own risk. siteisrunning.com makes no representations or warranties, either expressed or
                        implied,
                        with respect to the Service, or any service or information provided through the Service.
                        siteisrunning.com is not responsible for any damages, injury or economic loss arising from the
                        use of
                        the content or Service provided by siteisrunning.com.

                        In no event will siteisrunning.com be liable to you for any direct, indirect, incidental or
                        consequential damages or economic loss arising out of the Service or in connection with your
                        website or any other services or products provided to you.

                        siteisrunning.com, its officers, directors, owners, agents and employees shall in no way be
                        liable to
                        you or anyone else for any loss or injury resulting from the use of the Service or of your
                        website.

                        In no event shall siteisrunning.com be held liable for any damages or economic loss, whatsoever,
                        as a
                        result of notifying any official of potentially illegal content on your website, or for
                        providing copies of your data files to the appropriate authorities or cooperating with law
                        enforcement efforts to locate persons who have posted content that is illegal or promotes
                        illegal conduct.

                        17. Indemnification
                        You agree to indemnify and hold siteisrunning.com, its affiliates, sponsors, partners,
                        directors,
                        officers and employees harmless from and against, and to reimburse siteisrunning.com with
                        respect to,
                        any and all losses, damages, liabilities, claims, judgments, settlements, fines, costs and
                        expenses (including reasonable related expenses, legal fees, costs of investigation) arising out
                        of or relating to your breach of this Agreement or use by you or any third party of the
                        Services.

                        18. Force Majeure
                        siteisrunning.com will not be liable for any delay, interruption or failure in the provisioning
                        of
                        services if caused by acts of God, declared or undeclared war, fire, flood, storm, slide,
                        earthquake, power failure, the inability to obtain equipment, supplies or other facilities that
                        are not caused by a failure to pay, labor disputes, or other similar events beyond our control
                        that may prevent or delay service provisioning.

                        19. Unenforceable Provisions
                        If any part of this Agreement is found to be invalid or unenforceable under applicable law, such
                        part will be ineffective to the extent of such invalid or unenforceable part only, without
                        affecting the remaining parts of this Agreement in any way.

                        20. Governing Law
                        The rights and obligations of the parties pursuant to this Agreement are governed by, and shall
                        be construed in accordance with, the laws of the province of British Columbia and the federal
                        laws of Canada.

                        You may be subject to other local, provincial or state and national laws. You hereby irrevocably
                        submit to the exclusive jurisdiction of the Courts of the Province of British Columbia for any
                        dispute arising under or relating to this Agreement and waive your right to institute legal
                        proceedings in any other jurisdiction. We shall be entitled to institute legal proceedings in
                        connection with any matter arising under this Agreement in any jurisdiction where you reside, do
                        business or have assets.

                        21. Age of Majority
                        siteisrunning.com does not accept agreements and payments from persons under the legal age of 18
                        years. By submitting your account application, you confirm that you are over 18 years of age or
                        your parent or legal guardian has agreed to accept this Agreement on your behalf.

                        22. Waiver
                        No waiver of any of the provisions of this Agreement will be deemed to constitute a waiver of
                        any other provision nor shall such a waiver constitute a continuing waiver unless otherwise
                        expressly provided in writing duly executed by the party to be bound thereby.

                        23. Entire Agreement
                        This Agreement, as may be updated from time to time and posted at
                        http://www.siteisrunning.com/terms-condition-privacy, represents the complete agreement and
                        understanding between us with respect to the Service and supersedes any other written or oral
                        agreement.</p>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}


