{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load mathfilters %}

{% block title %}What{% endblock %}
{% block metatitle %}What{% endblock %}
{% block metadescription %}
    You wish a simple website monitoring? You're in the right place here. If the website encountering a problem,
    you'll be notified via email immediately. SSL-Certificate problems will be monitored too. You'll get notified not
    only when the website is down, you'll notified also when the sites returns any 4xx/5xx HTTP-Status code.
{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {# {% include "account/_tabs.html" %}#}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">What</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

                    <p>You wish a simple website monitoring? You're in the right place here. We provide a simple Website
                        monitoring (Server IPv6/IPv6 coming soon).</p>
                    <p>If the website encountering a problem, you'll be notified via email immediately. You'll get
                        notified not only when the website is down, you'll notified also when the sites returns any
                        4xx/5xx HTTP-Status code. Sure, SSL-Certificate problems will be also monitored. Join the
                        simplest website monitoring tool <a href="{% url 'account_signup' %}">here</a>.
                    </p>
                    <div class="m-t-55">
                        <div class="">
                            <h6 class="block-title">How it works?</h6>
                            <p class="hint-text">You create a new monitoring for each site and you set the check
                                interval (from minute to day). You can also set the interval of the reminder when a site
                                is down. You'll be informed then, e.g. all 3h via email that the problem still
                                exists.</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">Which intervals can I set for checks and reminder?</h6>
                            <p class="hint-text"><i>Check interval:</i><br/> For Pro Plan: The smallest interval is
                                <b>all 5 minutes to days.</b><br/> For Basic Plan: The smallest interval
                                is all {{ BASIC_PLAN_MIN_PERIOD_CHECK_MINUTES|intdiv:60 }} hours to days.</p>

                            <p class="hint-text"><i>Reminder interval:</i> <br/>

                                For Pro Plan: The smallest interval <b>all 30 minutes to days.</b><br/>
                                For Basic Plan: The smallest interval
                                is {{ BASIC_PLAN_MIN_WHEN_OFFLINE_SEND_NEXT_MINUTES|intdiv:60 }} hours to days.
                                <br/>
                            </p>
                            <p class="hint-text">The reminder can also be deactivated on both plans.
                            </p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">What are reminders?</h6>
                            <p class="hint-text">When a site has a problem, you'll get notified via email. After the
                                first email, you can be notified again. You can set a reminder which inform you again
                                after some time (depends on the reminder interval) if the website still has a problem.
                                The reminder can also be deactivated.</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">How I get informed?</h6>
                            <p class="hint-text">You'll be informed via email.</p>
                        </div>
                        <div class="m-t-35">
                            <h6 class="block-title">Can I set multiple email addresses?</h6>
                            <p class="hint-text">Yes, you can add multiple email addresses. All these email addresses
                                will be used for notifications. See <a href="/#price">Pricing</a> for the number of
                                email addresses.</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">Which errors will I be informed about?</h6>
                            <p class="hint-text">Generally, when the site is unreachable (offline), all 4xx and 5xx
                                HTTP-Statuscodes and SSL-Certificate Error (invalid, expired). Do you need another
                                error-alert? <a href="{% url 'contact' %}">Contact us!</a></p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">Can I monitor also Servers?</h6>
                            <p class="hint-text">Currently not. But this feature is on our To-Do list. Soon you will
                                also
                                be able to monitor IPv4/IPv6</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">The Basic Plan limits my active websites checks. Can I still add
                                more websites?</h6>
                            <p class="hint-text">If you have Basic Plan, you can add more
                                than {{ BASIC_PLAN_MAX_ACTIVE_CHECKS }} websites. These will be inactive.</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">How works the payment for Pro Plan?</h6>
                            <p class="hint-text">We use <a target="_blank" href="http://stripe.com">Stripe</a> Checkout.
                                Of course we do not collect credit card information.</p>
                            <p>Before the subscription expires after a year, you'll notified early to renew the
                                subscription. But we do not automatically renew the subscription in your favour.</p>
                        </div>

                        <div class="m-t-35">
                            <h6 class="block-title">Where is this website and where are the data hosted?</h6>
                            <p class="hint-text">In USA.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}


