.alert .close {
    left: 0px !important;
}

.home-enter-divider {
    border-bottom: 0.01em rgba(191, 191, 191, 0.25) inset
}

.position-unset {
    position: unset !important;
}

nav .slogan-calling span#first {
    font-size: 26px;
}

nav .slogan-calling span#second {
    font-size: 25px;
}

nav:not(.minimized) .slogan-calling span {
    color: black;
}

footer .slogan-calling span {
    font-size: 20px;
}

.slogan-calling span#first {
    font-weight: 600 !important;
    margin-right: -2px;
}

.height-100 {
    height: 100px !important;
}

.height-150 {
    height: 150px !important;
}

.height-200 {
    height: 200px !important;
}

#cookie-msg {
    z-index: 10;
}

section.jumbotron {
    z-index: 100;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

