<section class="tabs m-t-30">

    <div class="row center-xs">
        <div class="box">
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active-tab">
                    <a {% if '/websites/' in request.path %}class="bold" {% endif %} href="{% url 'show_check' %}"
                       id="home-tab" aria-expanded="true">Websites</a>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="#" id="myTabDrop1"
                       class="dropdown-toggle {% if '/accounts/' in request.path %}bold{% endif %}"
                       data-toggle="dropdown" aria-controls="myTabDrop1-contents"
                       aria-expanded="false">Account&nbsp;<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                        <li>
                            <a href="{% url 'update_account' %}"
                               {% if request.resolver_match.url_name == 'update_account' %}class="bold"{% endif %}
                               aria-expanded="false">Edit account</a>
                        </li>

                        {% if not user.is_paying %}
                            <li>
                                <a href="{% url 'checkout_account' %}"
                                   {% if request.resolver_match.url_name == 'checkout_account' %}class="bold"{% endif %}
                                   aria-expanded="false">Pro Plan (25$)</a>
                            </li>
                        {% endif %}
                        {# <li class=""><a href="{% url 'account_change_password' %}" aria-expanded="true">Change Password</a></li>#}

                        <li>
                            <a href="{% url 'account_logout' %}" aria-expanded="true">Logout</a>
                        </li>


                    </ul>

                </li>

            </ul>
        </div>
    </div>

</section>

<style>.nav-tabs li {
    width: 150px
}

</style>
