{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Email addresses{% endblock %}
{% block metatitle %}Add/edit/remove emails{% endblock %}
{% block metadescription %}Add/edit/remove emails{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Change Email</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    {# @see allauth #}
                    <form action="{% url 'account_email' %}" id="email-list-form" class="email_list" method="post">
                        <div class="form-group">
                            {% include 'base/_messages.html' %}

                            {% csrf_token %}

                            <p class="fs-15 m-b-15">The following Email addresses are associated with your account.
                                <br/>Email notifications will be send to all <i>verified</i> listed email addresses.
                            </p>
                            <fieldset class="blockLabels">
                                {% for emailaddress in user.emailaddress_set.all %}
                                    <div class="ctrlHolder">
                                        <label for="email_radio_{{ forloop.counter }}"
                                               class="{% if emailaddress.primary %}primary_email{% endif %}">

                                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                                   value="{{ emailaddress.email }}"/>

                                            {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                <span class="verified">Verified</span>
                                            {% else %}
                                                <span class="unverified">Unverified</span>
                                            {% endif %}
                                            {% if emailaddress.primary %}
                                                <span class="primary">Primary</span>{% endif %}
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="buttonHolder">
                                    <button class="m-t-15 btn btn-primary" type="submit"
                                            name="action_primary">Make Primary
                                    </button>
                                    <button class="m-t-15 btn btn-primary" type="submit"
                                            name="action_send"> Re-send Verification
                                    </button>
                                    <button class="m-t-15 btn btn-danger" type="submit"
                                            name="action_remove"> Remove
                                    </button>
                                </div>

                            </fieldset>
                        </div>
                    </form>

                    <div class="m-t-40">
                        <h5>Add Email Address</h5>

                        <form novalidate method="post" action="{% url 'account_email' %}" id="add-email-form"
                              class="add_email">
                            <div class="form-group">

                                {% csrf_token %}
                                <div class="form-group form-group-default required">
                                    <label class="control-label" for="id_login">New Email</label>
                                    {{ form.email|add_class:'form-control' }}
                                </div>
                                <div class="buttonHolder">
                                    <button class="m-t-30 btn btn-primary" name="action_add" type="submit">Add Email
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#email-list-form').validate();
            $('#add-email-form').validate();

        });
    </script>
{% endblock %}


