{% extends 'base/base.html' %}
{% load account %}
{% load i18n %}

{% block title %}Confirm email{% endblock %}
{% block metatitle %}Confirm email{% endblock %}
{% block metadescription %}Confirm email{% endblock %}

{% load widget_tweaks %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {#{% include "account/_tabs.html" %}#}


    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Confirm E-mail Address</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">


                    {% if confirmation %}

                        {% user_display confirmation.email_address.user as user_display %}

                        <p>{% blocktrans with confirmation.email_address.email as email %}
                            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for
                            user: <b>{{ user_display }}</b>.{% endblocktrans %}</p>

                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                            <div class="form-group">
                                {% csrf_token %}
                                <button class=" m-t-20 btn btn-primary" type="submit">Confirm</button>
                            </div>
                        </form>

                    {% else %}

                        {% url 'account_email' as email_url %}

                        <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a
                            new e-mail confirmation request</a>.</p>

                    {% endif %}


                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#confirm-email-form').validate();
        });
    </script>
{% endblock %}


