{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}
{% block metatitle %}Login{% endblock %}
{% block metadescription %}Login for one of the simplest website monitoring tools. You'll be in good
    hands. Monitoring Offline/4xx/5xx/SSL-Certificate Errors.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {#{% include "account/_tabs.html" %}#}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Login</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <form method="POST" id="login-form">
                        <div class="form-group">
                            {% include 'base/_messages.html' %}

                            {% csrf_token %}

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_login">Username or Email</label>
                                {{ form.login|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_password">Password</label>
                                {{ form.password|add_class:'form-control' }}
                            </div>

                            <div class="m-t-20">
                                <a href="{% url 'account_reset_password' %}">Reset Password</a>
                                <a href="{% url 'account_signup' %}" class="m-l-30">Signup</a>
                            </div>
                        </div>
                        <button class=" m-t-20 btn btn-primary" type="submit">Login</button>

                    </form>


                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#login-form').validate();
        });
    </script>
{% endblock %}


