{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block metatitle %}Password Reset{% endblock %}
{% block metadescription %}Reset your Password here if you've forgot your current password.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {#{% include "account/_tabs.html" %}#}


    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Password reset</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <form method="POST" id="reset-pw-form" novalidate>
                        <div class="form-group">
                            {% include 'base/_messages.html' %}
                            {% csrf_token %}

                            <p>Forgotten your password? Enter your <b>primary</b> Email address below, and we'll send
                                you an Email
                                allowing you to reset it.</p>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_login">Email</label>
                                {{ form.email|add_class:'form-control' }}
                            </div>
                        </div>
                        <button class=" m-t-20 btn btn-primary" type="submit">Reset Password</button>

                    </form>


                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#reset-pw-form').validate();
        });
    </script>
{% endblock %}






