{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Password Change{% endblock %}
{% block metatitle %}Password Change{% endblock %}
{% block metadescription %}Change your Password here{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}

    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}
    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Password Change</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container ">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <form method="POST" id="change-pw-form">
                        <div class="form-group">
                            {% include 'base/_messages.html' %}
                            {% csrf_token %}

                            <p class="m-t-13 fs-13">If you don't remember your current password, reset
                                your password <a href="{% url 'account_reset_password' %}">here.</a></p>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_login">Old Password</label>
                                {{ form.oldpassword|add_class:'form-control' }}
                            </div>


                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_login">New Password</label>
                                {{ form.password1|add_class:'form-control' }}
                            </div>


                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_login">Confirm Password</label>
                                {{ form.password2|add_class:'form-control' }}
                            </div>


                            <button class="m-t-15 btn btn-primary" type="submit">Reset Password</button>
                        </div>

                    </form>


                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#change-pw-form').validate();
        });
    </script>
{% endblock %}


