{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}
{% block metatitle %}Password Reset{% endblock %}
{% block metadescription %}Reset your Password here if you've forgot your current password.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {#{% include "account/_tabs.html" %}#}


    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">{% if token_fail %}Bad Token {% else %}
                        Change Password{% endif %}</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">


                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>The password reset link was invalid, possibly because it has already been
                            used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                            .</p>
                    {% else %}
                        {% if form %}

                            <form method="POST" id="reset-pw-form" action="{{ action_url }}">
                                <div class="form-group">
                                    {% include 'base/_messages.html' %}
                                    {% csrf_token %}

                                    <div class="form-group form-group-default required">
                                        <label class="control-label" for="id_login">New Password</label>
                                        {{ form.password1|add_class:'form-control' }}
                                    </div>


                                    <div class="form-group form-group-default required">
                                        <label class="control-label" for="id_login">Confirm Password</label>
                                        {{ form.password2|add_class:'form-control' }}
                                    </div>

                                    <button class=" m-t-20 btn btn-primary" name="action" type="submit">Reset Password
                                    </button>

                                </div>
                            </form>

                        {% endif %}
                    {% endif %}


                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#reset-pw-form').validate();
        });
    </script>
{% endblock %}







