{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Signup{% endblock %}
{% block metatitle %}Signup{% endblock %}
{% block metadescription %}You're in good hands. Sign up for free and get the simplest website monitoring tools of this
    galaxy. Check automatically if your Site or Server is down and get informed immediately{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}


{% block content %}
    {% include "base/_small_header.html" %}
    {# {% include "account/_tabs.html" %} #}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Signup</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <form method="POST" id="signup-form">
                        <div class="form-group">
                            {% include 'base/_messages.html' %}
                            {% csrf_token %}

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_username">Name</label>
                                {{ form.username|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_email">Email</label>
                                {{ form.email|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default">
                                <label class="control-label" for="id_company">Company</label>
                                {{ form.company|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_password1">Password</label>
                                {{ form.password1|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_password2">Password Confirm</label>
                                {{ form.password2|add_class:'form-control' }}
                            </div>

                            <div class="m-t-35 m-b-35 checkbox check-success">
                                {{ form.accept_term|add_class:'required' }}
                                <label class="control-label" for="id_accept_term">I accept the
                                    <a target="_blank"> Terms & Condition</a> *
                                </label>
                            </div>

                            {{ form.captcha|add_class:'form-control' }}

                            <button class="m-t-25 btn btn-primary" type="submit">Sign Up</button>
                        </div>
                    </form>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#signup-form').validate();
        });
    </script>
{% endblock %}


