{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ title_prefix }}{% endblock %}
{% block metatitle %}{ title_prefix }} website{% endblock %}
{% block metadescription %}{ title_prefix }} an website check and save it.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">{{ title_prefix }} website</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                    <form method="POST" id="create-edit-form" class="">
                        <div class="form-group">

                            {% include 'base/_messages.html' %}
                            {% csrf_token %}

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_name">Name</label>
                                {{ form.name|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default">
                                <label class="control-label" for="id_description">Description</label>
                                {{ form.description|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_url">URL</label>
                                {{ form.url|add_class:'form-control' }}
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_period_check">Check all</label>
                                {{ form.period_check }}<span>&nbsp;minutes</span>
                                <div class="fs-13">1 day = 1440 minutes, 2 day = 2880 minutes, 3 day = 4320
                                    minutes
                                </div>
                            </div>

                            <div class="form-group form-group-default required">
                                <label class="control-label" for="id_when_offline_period_send_mail">When offline, send
                                    reminder all</label>
                                {{ form.when_offline_period_send_mail }}<span>&nbsp;minutes</span>
                                <div class="fs-13">When the site/server is offline and you've been already
                                    been informed the first time, at what interval do you want to be informed again?
                                    <br/>
                                    <br/>Set 0 if you don't want to receive any further notifications after the first
                                    mail.
                                </div>
                            </div>

                            <div class="checkbox check-success">
                                {{ form.active }}
                                <label class="control-label" for="id_active">Active</label>
                            </div>
                            <div class="m-t-20">
                                <button class="btn btn-primary m-r-75" type="submit">Save</button>

                                {% if check %}
                                    <a class="btn btn-danger text-light"
                                       href="{% url 'delete_check' check.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#create-edit-form').validate();
        });
    </script>
{% endblock %}


