{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Delete{% endblock %}
{% block metatitle %}Delete Check{% endblock %}
{% block metadescription %}Delete an website check and save it.{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}

    <section class="m-t-40 sm-m-t-30">

        <section class="p-b-10">
            <div class="container">
                <div class="">
                    <h1 class="text-center">Delete Website Check</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40">
            <div class="container">
                <div class="m-b-30 with-border padding-20 text-center">

                    <form method="POST">
                        {% csrf_token %}
                        <p class="fs-18">Are you sure to delete {{ check.name }}?</p>
                        <button class="m-t-15 btn btn-danger" type="submit">DELETE</button>
                    </form>

                </div>
            </div>
        </section>

    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#create-edit-form').validate();
        });
    </script>
{% endblock %}


