{% extends 'base/base.html' %}

{% block title %}Overview{% endblock %}
{% block metatitle %}Overview{% endblock %}
{% block metadescription %}Overview of your websites{% endblock %}

{% block nav %}
    {% include 'base/_nav.html' %}
{% endblock %}

{% block content %}
    {% include "base/_small_header.html" %}
    {% include "account/_tabs.html" %}


    <section class="m-t-40 sm-m-t-30">

        <section class="">
            <div class="container">

                <div class="">
                    {% include 'base/_messages.html' %}
                    <h1 class="text-center ">Overview</h1>
                </div>
            </div>
        </section>

        <section class="p-b-40 ">
            <div class="container">
                <div class="m-b-30 with-border padding-20 col-xs-12 col-md-10 col-md-offset-1">

                    <a href="{% url 'create_check' %}" class="m-b-25 btn btn-primary {{ disabled_html_class }}">Add
                        new</a>

                    {% if not user.is_paying %}
                        <a href="{% url 'checkout_account' %}" class="m-b-25 m-l-50 btn btn-danger">Add
                            Pro Plan (25$/y)</a>
                    {% endif %}

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Status</th>
                                <th>Active</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for check in checks %}
                                {% if check.active %}
                                    {% if check.online %}
                                        {% with statusclass="success" %}
                                            <tr class="{{ statusclass }}">
                                        {% endwith %}
                                    {% else %}
                                    {% with statusclass="danger" %}
                                        <tr class="{{ statusclass }}">
                                    {% endwith %}
                                    {% endif %}
                                {% else %}
                                {% with statusclass="active" %}
                                    <tr class="{{ statusclass }}">
                                {% endwith %}
                                {% endif %}

                            <td><a href="{% url 'update_check' check.id %}">{{ check.name }} </a></td>
                            <td>{{ check.url }}</td>
                            <td>{% if check.online %} Online {% else %} Offline {% endif %}</td>
                            <td>{% if check.active %} Active {% else %} Disabled {% endif %}</td>

                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </section>

    </section>
{% endblock %}





